/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Ensure form inputs always fit Bootstrap columns */
input.form-control,
select.form-select,
textarea.form-control {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
}

/* Default styles for both views */
.view {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

/* Show the active view */
.active {
    display: block;
}

/* General body styling */

/* Headings */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #502c3e;
    font-weight: bold;
}

/* Form styling */
form {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 25px;
}

/* Buttons */
button {
    font-family: Garamond;
}

/* Table styling */
table {
    background-color: #F3F5ED;
    border-radius: 8px;
}

.table th, .table td {
    vertical-align: middle !important;
}

.table th {
    background-color: #E3E8DA;
}

.table img {
    max-width: 100px;
    border-radius: 5px;
}

/* Card view styling */
.card {
    border: none;
    border-radius: 10px;
    background-color: #F3F5ED;
}

    .card img {
        border-radius: 10px;
    }


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #502c3e;
    font-weight: bold;
}
#detail {
    border: 3px solid darkgreen;
    border-radius: 10px;
}
.detail_container {
    background-color: #DAE1C7;
}


#create-page {
    background-color: #FBF9EE;
    margin: 0;
    padding: 40px;
    border-radius: 12px;
    border: 3px solid saddlebrown;
    border-radius: 10px;
}

#create-page h2 {
    color: saddlebrown;
    font-weight: bold;
    margin-bottom: 10px;
}

.create-form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #FBF9EE;
}





